body {
    margin: 0;
    padding: 0;
    height: 100svh;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 30px;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.info {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    max-width: 20em;
    margin: 24px;
    padding: var(--padding-y) var(--padding-x);
    gap: 1em;
    font-weight: 600;
    color: #8bd7fc;
    background: #f0f9ff; /* lightBlue-100 */
    border-radius: var(--border-radius);
}

.info svg {
    fill: #8bd7fc;
    height: 1.8em;
}

.password-inputs, .password-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2.2em;
    row-gap: 14px;
}

.password-length {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .4rem;
}

#pw-length {
    width: 4ch;
    text-align: center;
}

.password-field {
    position: relative;
}

#pw-field {
    font-family: ui-monospace, monospace;
    width: 20.5ch;
    padding-right: calc(var(--button-height) - 2px);
}

#pw-refresh {
    position: absolute;
    top: 50%;
    right: 1px;
    transform: translateY(-50%);
    backdrop-filter: none;
}

@media (max-width: 40rem) {
    .password-field, #pw-field {
        width: 100%;
        box-sizing: border-box;
    }

    .password-inputs {
        justify-content: space-between;
        gap: 10px;
    }

    #pw-copy {
        order: 0;
    }

    .password-field {
        flex: 2 0 auto;
        order: 1;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(-20deg);
    }
    60% {
        transform: rotate(180deg);
    }
    80% {
        transform: rotate(165deg);
    }
    100% {
        transform: rotate(180deg);
    }
}